### Geeks for Geeks Preperation

In [1]:
import pandas as pd

In [14]:
df = pd.read_csv('DataFiles/nba.csv',index_col ="Name")
df

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0
Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0
Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6912869.0
Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3425510.0
James Young,Boston Celtics,13.0,SG,20.0,6-6,215.0,Kentucky,1749840.0
Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2616975.0
Bojan Bogdanovic,Brooklyn Nets,44.0,SG,27.0,6-8,216.0,NaN,3425510.0
Markel Brown,Brooklyn Nets,22.0,SG,24.0,6-3,190.0,Oklahoma State,845059.0
Wayne Ellington,Brooklyn Nets,21.0,SG,28.0,6-4,200.0,North Carolina,1500000.0
Rondae Hollis-Jefferson,Brooklyn Nets,24.0,SG,21.0,6-7,220.0,Arizona,1335480.0
Jarrett Jack,Brooklyn Nets,2.0,PG,32.0,6-3,200.0,Georgia Tech,6300000.0
Sergey Karasev,Brooklyn Nets,10.0,SG,22.0,6-7,208.0,NaN,1599840.0
Sean Kilpatrick,Brooklyn Nets,6.0,SG,26.0,6-4,219.0,Cincinnati,134215.0
Shane Larkin,Brooklyn Nets,0.0,PG,23.0,5-11,175.0,Miami (FL),1500000.0
Brook Lopez,Brooklyn Nets,11.0,C,28.0,7-0,275.0,Stanford,19689000.0
Chris McCullough,Brooklyn Nets,1.0,PF,21.0,6-11,200.0,Syracuse,1140240.0
Willie Reed,Brooklyn Nets,33.0,PF,26.0,6-10,220.0,Saint Louis,947276.0
Thomas Robinson,Brooklyn Nets,41.0,PF,25.0,6-10,237.0,Kansas,981348.0
Henry Sims,Brooklyn Nets,14.0,C,26.0,6-10,248.0,Georgetown,947276.0
Donald Sloan,Brooklyn Nets,15.0,PG,28.0,6-3,205.0,Texas A&M,947276.0
Thaddeus Young,Brooklyn Nets,30.0,PF,27.0,6-8,221.0,Georgia Tech,11235955.0
...,...,...,...,...,...,...,...,...
Al-Farouq Aminu,Portland Trail Blazers,8.0,SF,25.0,6-9,215.0,Wake Forest,8042895.0
Pat Connaughton,Portland Trail Blazers,5.0,SG,23.0,6-5,206.0,Notre Dame,625093.0
Allen Crabbe,Portland Trail Blazers,23.0,SG,24.0,6-6,210.0,California,947276.0
Ed Davis,Portland Trail Blazers,17.0,C,27.0,6-10,240.0,North Carolina,6980802.0
Maurice Harkless,Portland Trail Blazers,4.0,SF,23.0,6-9,215.0,St. John's,2894059.0
Gerald Henderson,Portland Trail Blazers,9.0,SG,28.0,6-5,215.0,Duke,6000000.0
Chris Kaman,Portland Trail Blazers,35.0,C,34.0,7-0,265.0,Central Michigan,5016000.0
Meyers Leonard,Portland Trail Blazers,11.0,PF,24.0,7-1,245.0,Illinois,3075880.0
Damian Lillard,Portland Trail Blazers,0.0,PG,25.0,6-3,195.0,Weber State,4236287.0
C.J. McCollum,Portland Trail Blazers,3.0,SG,24.0,6-4,200.0,Lehigh,2525160.0
Luis Montero,Portland Trail Blazers,44.0,SG,23.0,6-7,185.0,Westchester CC,525093.0
Mason Plumlee,Portland Trail Blazers,24.0,C,26.0,6-11,235.0,Duke,1415520.0
Brian Roberts,Portland Trail Blazers,2.0,PG,30.0,6-1,173.0,Dayton,2854940.0
Noah Vonleh,Portland Trail Blazers,21.0,PF,20.0,6-9,240.0,Indiana,2637720.0
Trevor Booker,Utah Jazz,33.0,PF,28.0,6-8,228.0,Clemson,4775000.0
Trey Burke,Utah Jazz,3.0,PG,23.0,6-1,191.0,Michigan,2658240.0
Alec Burks,Utah Jazz,10.0,SG,24.0,6-6,214.0,Colorado,9463484.0
Dante Exum,Utah Jazz,11.0,PG,20.0,6-6,190.0,NaN,3777720.0
Derrick Favors,Utah Jazz,15.0,PF,24.0,6-10,265.0,Georgia Tech,12000000.0
Rudy Gobert,Utah Jazz,27.0,C,23.0,7-1,245.0,NaN,1175880.0
Gordon Hayward,Utah Jazz,20.0,SF,26.0,6-8,226.0,Butler,15409570.0
Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
Joe Ingles,Utah Jazz,2.0,SF,28.0,6-8,226.0,NaN,2050000.0
Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# fir=df.iloc[0]
# fir
second = df.loc["R.J. Hunter"]
second
#print(first, "\n\n\n", second)

Team        Boston Celtics
Number                  28
Position                SG
Age                     22
Height                 6-5
Weight                 185
College      Georgia State
Salary         1.14864e+06
Name: R.J. Hunter, dtype: object

In [20]:
df['Age']

Name
Avery Bradley              25.0
Jae Crowder                25.0
John Holland               27.0
R.J. Hunter                22.0
Jonas Jerebko              29.0
Amir Johnson               29.0
Jordan Mickey              21.0
Kelly Olynyk               25.0
Terry Rozier               22.0
Marcus Smart               22.0
Jared Sullinger            24.0
Isaiah Thomas              27.0
Evan Turner                27.0
James Young                20.0
Tyler Zeller               26.0
Bojan Bogdanovic           27.0
Markel Brown               24.0
Wayne Ellington            28.0
Rondae Hollis-Jefferson    21.0
Jarrett Jack               32.0
Sergey Karasev             22.0
Sean Kilpatrick            26.0
Shane Larkin               23.0
Brook Lopez                28.0
Chris McCullough           21.0
Willie Reed                26.0
Thomas Robinson            25.0
Henry Sims                 26.0
Donald Sloan               28.0
Thaddeus Young             27.0
                           ...
Al-Farouq Aminu            25.0
Pat Connaughton            23.0
Allen Crabbe               24.0
Ed Davis                   27.0
Maurice Harkless           23.0
Gerald Henderson           28.0
Chris Kaman                34.0
Meyers Leonard             24.0
Damian Lillard             25.0
C.J. McCollum              24.0
Luis Montero               23.0
Mason Plumlee              26.0
Brian Roberts              30.0
Noah Vonleh                20.0
Trevor Booker              28.0
Trey Burke                 23.0
Alec Burks                 24.0
Dante Exum                 20.0
Derrick Favors             24.0
Rudy Gobert                23.0
Gordon Hayward             26.0
Rodney Hood                23.0
Joe Ingles                 28.0
Chris Johnson              26.0
Trey Lyles                 20.0
Shelvin Mack               26.0
Raul Neto                  24.0
Tibor Pleiss               26.0
Jeff Withey                26.0
NaN                         NaN
Name: Age, Length: 458, dtype: float64

In [28]:
df.isnull()

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,False,False,False,False,False,False,False,False
Jae Crowder,False,False,False,False,False,False,False,False
John Holland,False,False,False,False,False,False,False,True
R.J. Hunter,False,False,False,False,False,False,False,False
Jonas Jerebko,False,False,False,False,False,False,True,False
Amir Johnson,False,False,False,False,False,False,True,False
Jordan Mickey,False,False,False,False,False,False,False,False
Kelly Olynyk,False,False,False,False,False,False,False,False
Terry Rozier,False,False,False,False,False,False,False,False
Marcus Smart,False,False,False,False,False,False,False,False
Jared Sullinger,False,False,False,False,False,False,False,False
Isaiah Thomas,False,False,False,False,False,False,False,False
Evan Turner,False,False,False,False,False,False,False,False
James Young,False,False,False,False,False,False,False,False
Tyler Zeller,False,False,False,False,False,False,False,False
Bojan Bogdanovic,False,False,False,False,False,False,True,False
Markel Brown,False,False,False,False,False,False,False,False
Wayne Ellington,False,False,False,False,False,False,False,False
Rondae Hollis-Jefferson,False,False,False,False,False,False,False,False
Jarrett Jack,False,False,False,False,False,False,False,False
Sergey Karasev,False,False,False,False,False,False,True,False
Sean Kilpatrick,False,False,False,False,False,False,False,False
Shane Larkin,False,False,False,False,False,False,False,False
Brook Lopez,False,False,False,False,False,False,False,False
Chris McCullough,False,False,False,False,False,False,False,False
Willie Reed,False,False,False,False,False,False,False,False
Thomas Robinson,False,False,False,False,False,False,False,False
Henry Sims,False,False,False,False,False,False,False,False
Donald Sloan,False,False,False,False,False,False,False,False
Thaddeus Young,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
Al-Farouq Aminu,False,False,False,False,False,False,False,False
Pat Connaughton,False,False,False,False,False,False,False,False
Allen Crabbe,False,False,False,False,False,False,False,False
Ed Davis,False,False,False,False,False,False,False,False
Maurice Harkless,False,False,False,False,False,False,False,False
Gerald Henderson,False,False,False,False,False,False,False,False
Chris Kaman,False,False,False,False,False,False,False,False
Meyers Leonard,False,False,False,False,False,False,False,False
Damian Lillard,False,False,False,False,False,False,False,False
C.J. McCollum,False,False,False,False,False,False,False,False
Luis Montero,False,False,False,False,False,False,False,False
Mason Plumlee,False,False,False,False,False,False,False,False
Brian Roberts,False,False,False,False,False,False,False,False
Noah Vonleh,False,False,False,False,False,False,False,False
Trevor Booker,False,False,False,False,False,False,False,False
Trey Burke,False,False,False,False,False,False,False,False
Alec Burks,False,False,False,False,False,False,False,False
Dante Exum,False,False,False,False,False,False,True,False
Derrick Favors,False,False,False,False,False,False,False,False
Rudy Gobert,False,False,False,False,False,False,True,False
Gordon Hayward,False,False,False,False,False,False,False,False
Rodney Hood,False,False,False,False,False,False,False,False
Joe Ingles,False,False,False,False,False,False,True,False
Chris Johnson,False,False,False,False,False,False,False,False
Trey Lyles,False,False,False,False,False,False,False,False
Shelvin Mack,False,False,False,False,False,False,False,False
Raul Neto,False,False,False,False,False,False,True,False
Tibor Pleiss,False,False,False,False,False,False,True,False
Jeff Withey,False,False,False,False,False,False,False,False
NaN,True,True,True,True,True,True,True,True

In [30]:
# dictionary of lists
dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}

# creating a dataframe from a dictionary 
df = pd.DataFrame(dict)
print(df)
# iterating over rows using iterrows() function 
for i, j in df.iterrows():
    print(i, j)
    print()

     name  degree  score
0  aparna     MBA     90
1  pankaj     BCA     40
2  sudhir  M.Tech     80
3   Geeku     MBA     98
0 name      aparna
degree       MBA
score         90
Name: 0, dtype: object

1 name      pankaj
degree       BCA
score         40
Name: 1, dtype: object

2 name      sudhir
degree    M.Tech
score         80
Name: 2, dtype: object

3 name      Geeku
degree      MBA
score        98
Name: 3, dtype: object

In [31]:
for i in df.iterrows():
    print(i)

(0, name      aparna
degree       MBA
score         90
Name: 0, dtype: object)
(1, name      pankaj
degree       BCA
score         40
Name: 1, dtype: object)
(2, name      sudhir
degree    M.Tech
score         80
Name: 2, dtype: object)
(3, name      Geeku
degree      MBA
score        98
Name: 3, dtype: object)

In [32]:
for i in df.iteritems():
    print(i)

('name', 0    aparna
1    pankaj
2    sudhir
3     Geeku
Name: name, dtype: object)
('degree', 0       MBA
1       BCA
2    M.Tech
3       MBA
Name: degree, dtype: object)
('score', 0    90
1    40
2    80
3    98
Name: score, dtype: int64)

In [33]:
df

     name  degree  score
0  aparna     MBA     90
1  pankaj     BCA     40
2  sudhir  M.Tech     80
3   Geeku     MBA     98

In [34]:
for i in df.itertuples():
    print(i)

Pandas(Index=0, name='aparna', degree='MBA', score=90)
Pandas(Index=1, name='pankaj', degree='BCA', score=40)
Pandas(Index=2, name='sudhir', degree='M.Tech', score=80)
Pandas(Index=3, name='Geeku', degree='MBA', score=98)

In [40]:
import numpy as np 
df1 = pd.DataFrame(np.random.randint(10,20), columns =['A', 'B', 'C']) 
df1

ValueError: DataFrame constructor not properly called!

In [41]:
pd.__version__

'0.24.2'

In [44]:
df=pd.read_csv('gapminder.tsv',sep='\t')
df

          country continent  year  lifeExp       pop    gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333   779.445314
1     Afghanistan      Asia  1957   30.332   9240934   820.853030
2     Afghanistan      Asia  1962   31.997  10267083   853.100710
3     Afghanistan      Asia  1967   34.020  11537966   836.197138
4     Afghanistan      Asia  1972   36.088  13079460   739.981106
5     Afghanistan      Asia  1977   38.438  14880372   786.113360
6     Afghanistan      Asia  1982   39.854  12881816   978.011439
7     Afghanistan      Asia  1987   40.822  13867957   852.395945
8     Afghanistan      Asia  1992   41.674  16317921   649.341395
9     Afghanistan      Asia  1997   41.763  22227415   635.341351
10    Afghanistan      Asia  2002   42.129  25268405   726.734055
11    Afghanistan      Asia  2007   43.828  31889923   974.580338
12        Albania    Europe  1952   55.230   1282697  1601.056136
13        Albania    Europe  1957   59.280   1476505  1942.284244
14        Albania    Europe  1962   64.820   1728137  2312.888958
15        Albania    Europe  1967   66.220   1984060  2760.196931
16        Albania    Europe  1972   67.690   2263554  3313.422188
17        Albania    Europe  1977   68.930   2509048  3533.003910
18        Albania    Europe  1982   70.420   2780097  3630.880722
19        Albania    Europe  1987   72.000   3075321  3738.932735
20        Albania    Europe  1992   71.581   3326498  2497.437901
21        Albania    Europe  1997   72.950   3428038  3193.054604
22        Albania    Europe  2002   75.651   3508512  4604.211737
23        Albania    Europe  2007   76.423   3600523  5937.029526
24        Algeria    Africa  1952   43.077   9279525  2449.008185
25        Algeria    Africa  1957   45.685  10270856  3013.976023
26        Algeria    Africa  1962   48.303  11000948  2550.816880
27        Algeria    Africa  1967   51.407  12760499  3246.991771
28        Algeria    Africa  1972   54.518  14760787  4182.663766
29        Algeria    Africa  1977   58.014  17152804  4910.416756
...           ...       ...   ...      ...       ...          ...
1674  Yemen, Rep.      Asia  1982   49.113   9657618  1977.557010
1675  Yemen, Rep.      Asia  1987   52.922  11219340  1971.741538
1676  Yemen, Rep.      Asia  1992   55.599  13367997  1879.496673
1677  Yemen, Rep.      Asia  1997   58.020  15826497  2117.484526
1678  Yemen, Rep.      Asia  2002   60.308  18701257  2234.820827
1679  Yemen, Rep.      Asia  2007   62.698  22211743  2280.769906
1680       Zambia    Africa  1952   42.038   2672000  1147.388831
1681       Zambia    Africa  1957   44.077   3016000  1311.956766
1682       Zambia    Africa  1962   46.023   3421000  1452.725766
1683       Zambia    Africa  1967   47.768   3900000  1777.077318
1684       Zambia    Africa  1972   50.107   4506497  1773.498265
1685       Zambia    Africa  1977   51.386   5216550  1588.688299
1686       Zambia    Africa  1982   51.821   6100407  1408.678565
1687       Zambia    Africa  1987   50.821   7272406  1213.315116
1688       Zambia    Africa  1992   46.100   8381163  1210.884633
1689       Zambia    Africa  1997   40.238   9417789  1071.353818
1690       Zambia    Africa  2002   39.193  10595811  1071.613938
1691       Zambia    Africa  2007   42.384  11746035  1271.211593
1692     Zimbabwe    Africa  1952   48.451   3080907   406.884115
1693     Zimbabwe    Africa  1957   50.469   3646340   518.764268
1694     Zimbabwe    Africa  1962   52.358   4277736   527.272182
1695     Zimbabwe    Africa  1967   53.995   4995432   569.795071
1696     Zimbabwe    Africa  1972   55.635   5861135   799.362176
1697     Zimbabwe    Africa  1977   57.674   6642107   685.587682
1698     Zimbabwe    Africa  1982   60.363   7636524   788.855041
1699     Zimbabwe    Africa  1987   62.351   9216418   706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340   693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948   792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563   672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143   469.709298

[1704 rows x 6 columns]

In [45]:
df.shape

(1704, 6)

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
country      1704 non-null object
continent    1704 non-null object
year         1704 non-null int64
lifeExp      1704 non-null float64
pop          1704 non-null int64
gdpPercap    1704 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [47]:
df.columns

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [48]:
df.index

RangeIndex(start=0, stop=1704, step=1)

In [49]:
df.values

array([['Afghanistan', 'Asia', 1952, 28.801, 8425333, 779.4453145],
       ['Afghanistan', 'Asia', 1957, 30.331999999999997, 9240934,
        820.8530296],
       ['Afghanistan', 'Asia', 1962, 31.997, 10267083, 853.1007099999999],
       ...,
       ['Zimbabwe', 'Africa', 1997, 46.809, 11404948, 792.4499602999999],
       ['Zimbabwe', 'Africa', 2002, 39.989000000000004, 11926563,
        672.0386227000001],
       ['Zimbabwe', 'Africa', 2007, 43.486999999999995, 12311143,
        469.70929810000007]], dtype=object)

In [50]:
df.dtypes

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [54]:
country = df['country']
country

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
5       Afghanistan
6       Afghanistan
7       Afghanistan
8       Afghanistan
9       Afghanistan
10      Afghanistan
11      Afghanistan
12          Albania
13          Albania
14          Albania
15          Albania
16          Albania
17          Albania
18          Albania
19          Albania
20          Albania
21          Albania
22          Albania
23          Albania
24          Algeria
25          Algeria
26          Algeria
27          Algeria
28          Algeria
29          Algeria
           ...
1674    Yemen, Rep.
1675    Yemen, Rep.
1676    Yemen, Rep.
1677    Yemen, Rep.
1678    Yemen, Rep.
1679    Yemen, Rep.
1680         Zambia
1681         Zambia
1682         Zambia
1683         Zambia
1684         Zambia
1685         Zambia
1686         Zambia
1687         Zambia
1688         Zambia
1689         Zambia
1690         Zambia
1691         Zambia
1692       Zimbabwe
1693       Zimbabwe
1694       Zimbabwe
1695       Zimbabwe
1696       Zimbabwe
1697       Zimbabwe
1698       Zimbabwe
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [53]:
type(country)

pandas.core.series.Series

In [57]:
countries = df[['country']]
countries

          country
0     Afghanistan
1     Afghanistan
2     Afghanistan
3     Afghanistan
4     Afghanistan
5     Afghanistan
6     Afghanistan
7     Afghanistan
8     Afghanistan
9     Afghanistan
10    Afghanistan
11    Afghanistan
12        Albania
13        Albania
14        Albania
15        Albania
16        Albania
17        Albania
18        Albania
19        Albania
20        Albania
21        Albania
22        Albania
23        Albania
24        Algeria
25        Algeria
26        Algeria
27        Algeria
28        Algeria
29        Algeria
...           ...
1674  Yemen, Rep.
1675  Yemen, Rep.
1676  Yemen, Rep.
1677  Yemen, Rep.
1678  Yemen, Rep.
1679  Yemen, Rep.
1680       Zambia
1681       Zambia
1682       Zambia
1683       Zambia
1684       Zambia
1685       Zambia
1686       Zambia
1687       Zambia
1688       Zambia
1689       Zambia
1690       Zambia
1691       Zambia
1692     Zimbabwe
1693     Zimbabwe
1694     Zimbabwe
1695     Zimbabwe
1696     Zimbabwe
1697     Zimbabwe
1698     Zimbabwe
1699     Zimbabwe
1700     Zimbabwe
1701     Zimbabwe
1702     Zimbabwe
1703     Zimbabwe

[1704 rows x 1 columns]

In [58]:
type(countries)

pandas.core.frame.DataFrame

In [65]:
df_dropped = df.drop(['country','continent'],axis = 'columns')
df_dropped

      year  lifeExp       pop    gdpPercap
0     1952   28.801   8425333   779.445314
1     1957   30.332   9240934   820.853030
2     1962   31.997  10267083   853.100710
3     1967   34.020  11537966   836.197138
4     1972   36.088  13079460   739.981106
5     1977   38.438  14880372   786.113360
6     1982   39.854  12881816   978.011439
7     1987   40.822  13867957   852.395945
8     1992   41.674  16317921   649.341395
9     1997   41.763  22227415   635.341351
10    2002   42.129  25268405   726.734055
11    2007   43.828  31889923   974.580338
12    1952   55.230   1282697  1601.056136
13    1957   59.280   1476505  1942.284244
14    1962   64.820   1728137  2312.888958
15    1967   66.220   1984060  2760.196931
16    1972   67.690   2263554  3313.422188
17    1977   68.930   2509048  3533.003910
18    1982   70.420   2780097  3630.880722
19    1987   72.000   3075321  3738.932735
20    1992   71.581   3326498  2497.437901
21    1997   72.950   3428038  3193.054604
22    2002   75.651   3508512  4604.211737
23    2007   76.423   3600523  5937.029526
24    1952   43.077   9279525  2449.008185
25    1957   45.685  10270856  3013.976023
26    1962   48.303  11000948  2550.816880
27    1967   51.407  12760499  3246.991771
28    1972   54.518  14760787  4182.663766
29    1977   58.014  17152804  4910.416756
...    ...      ...       ...          ...
1674  1982   49.113   9657618  1977.557010
1675  1987   52.922  11219340  1971.741538
1676  1992   55.599  13367997  1879.496673
1677  1997   58.020  15826497  2117.484526
1678  2002   60.308  18701257  2234.820827
1679  2007   62.698  22211743  2280.769906
1680  1952   42.038   2672000  1147.388831
1681  1957   44.077   3016000  1311.956766
1682  1962   46.023   3421000  1452.725766
1683  1967   47.768   3900000  1777.077318
1684  1972   50.107   4506497  1773.498265
1685  1977   51.386   5216550  1588.688299
1686  1982   51.821   6100407  1408.678565
1687  1987   50.821   7272406  1213.315116
1688  1992   46.100   8381163  1210.884633
1689  1997   40.238   9417789  1071.353818
1690  2002   39.193  10595811  1071.613938
1691  2007   42.384  11746035  1271.211593
1692  1952   48.451   3080907   406.884115
1693  1957   50.469   3646340   518.764268
1694  1962   52.358   4277736   527.272182
1695  1967   53.995   4995432   569.795071
1696  1972   55.635   5861135   799.362176
1697  1977   57.674   6642107   685.587682
1698  1982   60.363   7636524   788.855041
1699  1987   62.351   9216418   706.157306
1700  1992   60.377  10704340   693.420786
1701  1997   46.809  11404948   792.449960
1702  2002   39.989  11926563   672.038623
1703  2007   43.487  12311143   469.709298

[1704 rows x 4 columns]

In [61]:
df

          country continent  year  lifeExp       pop    gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333   779.445314
1     Afghanistan      Asia  1957   30.332   9240934   820.853030
2     Afghanistan      Asia  1962   31.997  10267083   853.100710
3     Afghanistan      Asia  1967   34.020  11537966   836.197138
4     Afghanistan      Asia  1972   36.088  13079460   739.981106
5     Afghanistan      Asia  1977   38.438  14880372   786.113360
6     Afghanistan      Asia  1982   39.854  12881816   978.011439
7     Afghanistan      Asia  1987   40.822  13867957   852.395945
8     Afghanistan      Asia  1992   41.674  16317921   649.341395
9     Afghanistan      Asia  1997   41.763  22227415   635.341351
10    Afghanistan      Asia  2002   42.129  25268405   726.734055
11    Afghanistan      Asia  2007   43.828  31889923   974.580338
12        Albania    Europe  1952   55.230   1282697  1601.056136
13        Albania    Europe  1957   59.280   1476505  1942.284244
14        Albania    Europe  1962   64.820   1728137  2312.888958
15        Albania    Europe  1967   66.220   1984060  2760.196931
16        Albania    Europe  1972   67.690   2263554  3313.422188
17        Albania    Europe  1977   68.930   2509048  3533.003910
18        Albania    Europe  1982   70.420   2780097  3630.880722
19        Albania    Europe  1987   72.000   3075321  3738.932735
20        Albania    Europe  1992   71.581   3326498  2497.437901
21        Albania    Europe  1997   72.950   3428038  3193.054604
22        Albania    Europe  2002   75.651   3508512  4604.211737
23        Albania    Europe  2007   76.423   3600523  5937.029526
24        Algeria    Africa  1952   43.077   9279525  2449.008185
25        Algeria    Africa  1957   45.685  10270856  3013.976023
26        Algeria    Africa  1962   48.303  11000948  2550.816880
27        Algeria    Africa  1967   51.407  12760499  3246.991771
28        Algeria    Africa  1972   54.518  14760787  4182.663766
29        Algeria    Africa  1977   58.014  17152804  4910.416756
...           ...       ...   ...      ...       ...          ...
1674  Yemen, Rep.      Asia  1982   49.113   9657618  1977.557010
1675  Yemen, Rep.      Asia  1987   52.922  11219340  1971.741538
1676  Yemen, Rep.      Asia  1992   55.599  13367997  1879.496673
1677  Yemen, Rep.      Asia  1997   58.020  15826497  2117.484526
1678  Yemen, Rep.      Asia  2002   60.308  18701257  2234.820827
1679  Yemen, Rep.      Asia  2007   62.698  22211743  2280.769906
1680       Zambia    Africa  1952   42.038   2672000  1147.388831
1681       Zambia    Africa  1957   44.077   3016000  1311.956766
1682       Zambia    Africa  1962   46.023   3421000  1452.725766
1683       Zambia    Africa  1967   47.768   3900000  1777.077318
1684       Zambia    Africa  1972   50.107   4506497  1773.498265
1685       Zambia    Africa  1977   51.386   5216550  1588.688299
1686       Zambia    Africa  1982   51.821   6100407  1408.678565
1687       Zambia    Africa  1987   50.821   7272406  1213.315116
1688       Zambia    Africa  1992   46.100   8381163  1210.884633
1689       Zambia    Africa  1997   40.238   9417789  1071.353818
1690       Zambia    Africa  2002   39.193  10595811  1071.613938
1691       Zambia    Africa  2007   42.384  11746035  1271.211593
1692     Zimbabwe    Africa  1952   48.451   3080907   406.884115
1693     Zimbabwe    Africa  1957   50.469   3646340   518.764268
1694     Zimbabwe    Africa  1962   52.358   4277736   527.272182
1695     Zimbabwe    Africa  1967   53.995   4995432   569.795071
1696     Zimbabwe    Africa  1972   55.635   5861135   799.362176
1697     Zimbabwe    Africa  1977   57.674   6642107   685.587682
1698     Zimbabwe    Africa  1982   60.363   7636524   788.855041
1699     Zimbabwe    Africa  1987   62.351   9216418   706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340   693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948   792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563   672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143   469.709298

[1704 rows x 6 columns]

In [68]:
df.loc[[0,1]]

       country continent  year  lifeExp      pop   gdpPercap
0  Afghanistan      Asia  1952   28.801  8425333  779.445314
1  Afghanistan      Asia  1957   30.332  9240934  820.853030

In [71]:
df.loc[-1]#It Does'nt give the last value in dataframe

KeyError: -1

In [73]:
df.iloc[[0,1,-1]]

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [74]:
subset = df.loc[:,['year','pop']]

In [76]:
subset.head()

   year       pop
0  1952   8425333
1  1957   9240934
2  1962  10267083
3  1967  11537966
4  1972  13079460

In [78]:
subset = df.iloc[:,[2,4]]

In [79]:
subset.head()

   year       pop
0  1952   8425333
1  1957   9240934
2  1962  10267083
3  1967  11537966
4  1972  13079460

In [86]:
df.loc[(df['country'] == 'United States') & (df['year']==1982)]

            country continent  year  lifeExp        pop    gdpPercap
1614  United States  Americas  1982    74.65  232187835  25009.55914

In [93]:
df.groupby(['year'])['lifeExp'].mean()
# l = list(df['year'])
# s = set(l)
# len(s)

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [95]:
df.groupby(['year','continent'])[['lifeExp','gdpPercap']].agg(np.mean)

                  lifeExp     gdpPercap
year continent
1952 Africa     39.135500   1252.572466
     Americas   53.279840   4079.062552
     Asia       46.314394   5195.484004
     Europe     64.408500   5661.057435
     Oceania    69.255000  10298.085650
1957 Africa     41.266346   1385.236062
     Americas   55.960280   4616.043733
     Asia       49.318544   5787.732940
     Europe     66.703067   6963.012816
     Oceania    70.295000  11598.522455
1962 Africa     43.319442   1598.078825
     Americas   58.398760   4901.541870
     Asia       51.563223   5729.369625
     Europe     68.539233   8365.486814
     Oceania    71.085000  12696.452430
1967 Africa     45.334538   2050.363801
     Americas   60.410920   5668.253496
     Asia       54.663640   5971.173374
     Europe     69.737600  10143.823757
     Oceania    71.310000  14495.021790
1972 Africa     47.450942   2339.615674
     Americas   62.394920   6491.334139
     Asia       57.319269   8187.468699
     Europe     70.775033  12479.575246
     Oceania    71.910000  16417.333380
1977 Africa     49.580423   2585.938508
     Americas   64.391560   7352.007126
     Asia       59.610556   7791.314020
     Europe     71.937767  14283.979110
     Oceania    72.855000  17283.957605
1982 Africa     51.592865   2481.592960
     Americas   66.228840   7506.737088
     Asia       62.617939   7434.135157
     Europe     72.806400  15617.896551
     Oceania    74.290000  18554.709840
1987 Africa     53.344788   2282.668991
     Americas   68.090720   7793.400261
     Asia       64.851182   7608.226508
     Europe     73.642167  17214.310727
     Oceania    75.320000  20448.040160
1992 Africa     53.629577   2281.810333
     Americas   69.568360   8044.934406
     Asia       66.537212   8639.690248
     Europe     74.440100  17061.568084
     Oceania    76.945000  20894.045885
1997 Africa     53.598269   2378.759555
     Americas   71.150480   8889.300863
     Asia       68.020515   9834.093295
     Europe     75.505167  19076.781802
     Oceania    78.190000  24024.175170
2002 Africa     53.325231   2599.385159
     Americas   72.422040   9287.677107
     Asia       69.233879  10174.090397
     Europe     76.700600  21711.732422
     Oceania    79.740000  26938.778040
2007 Africa     54.806038   3089.032605
     Americas   73.608120  11003.031625
     Asia       70.728485  12473.026870
     Europe     77.648600  25054.481636
     Oceania    80.719500  29810.188275

In [96]:
df.groupby(['year','continent'])[['lifeExp','gdpPercap']].agg(np.mean).reset_index()

    year continent    lifeExp     gdpPercap
0   1952    Africa  39.135500   1252.572466
1   1952  Americas  53.279840   4079.062552
2   1952      Asia  46.314394   5195.484004
3   1952    Europe  64.408500   5661.057435
4   1952   Oceania  69.255000  10298.085650
5   1957    Africa  41.266346   1385.236062
6   1957  Americas  55.960280   4616.043733
7   1957      Asia  49.318544   5787.732940
8   1957    Europe  66.703067   6963.012816
9   1957   Oceania  70.295000  11598.522455
10  1962    Africa  43.319442   1598.078825
11  1962  Americas  58.398760   4901.541870
12  1962      Asia  51.563223   5729.369625
13  1962    Europe  68.539233   8365.486814
14  1962   Oceania  71.085000  12696.452430
15  1967    Africa  45.334538   2050.363801
16  1967  Americas  60.410920   5668.253496
17  1967      Asia  54.663640   5971.173374
18  1967    Europe  69.737600  10143.823757
19  1967   Oceania  71.310000  14495.021790
20  1972    Africa  47.450942   2339.615674
21  1972  Americas  62.394920   6491.334139
22  1972      Asia  57.319269   8187.468699
23  1972    Europe  70.775033  12479.575246
24  1972   Oceania  71.910000  16417.333380
25  1977    Africa  49.580423   2585.938508
26  1977  Americas  64.391560   7352.007126
27  1977      Asia  59.610556   7791.314020
28  1977    Europe  71.937767  14283.979110
29  1977   Oceania  72.855000  17283.957605
30  1982    Africa  51.592865   2481.592960
31  1982  Americas  66.228840   7506.737088
32  1982      Asia  62.617939   7434.135157
33  1982    Europe  72.806400  15617.896551
34  1982   Oceania  74.290000  18554.709840
35  1987    Africa  53.344788   2282.668991
36  1987  Americas  68.090720   7793.400261
37  1987      Asia  64.851182   7608.226508
38  1987    Europe  73.642167  17214.310727
39  1987   Oceania  75.320000  20448.040160
40  1992    Africa  53.629577   2281.810333
41  1992  Americas  69.568360   8044.934406
42  1992      Asia  66.537212   8639.690248
43  1992    Europe  74.440100  17061.568084
44  1992   Oceania  76.945000  20894.045885
45  1997    Africa  53.598269   2378.759555
46  1997  Americas  71.150480   8889.300863
47  1997      Asia  68.020515   9834.093295
48  1997    Europe  75.505167  19076.781802
49  1997   Oceania  78.190000  24024.175170
50  2002    Africa  53.325231   2599.385159
51  2002  Americas  72.422040   9287.677107
52  2002      Asia  69.233879  10174.090397
53  2002    Europe  76.700600  21711.732422
54  2002   Oceania  79.740000  26938.778040
55  2007    Africa  54.806038   3089.032605
56  2007  Americas  73.608120  11003.031625
57  2007      Asia  70.728485  12473.026870
58  2007    Europe  77.648600  25054.481636
59  2007   Oceania  80.719500  29810.188275